<%= simple_form_for(@prodact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :color_id, collection: @colors %>
    <%= f.input :model_id, collection: @models %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
